.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App > div{
  display:inherit;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 30px;
  position: relative;
  border: 1px solid rgba(223, 223, 223, 0.582);
  border-radius: 15px;
  padding: 30px 30px 60px 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
  background-color: var(--gray-blue-color);
  color: var(--dark-blue-color);
}

@media only screen and (max-width: 700px) {
  .App > div{
    width: 75%;
  }
 
}
@media only screen and (max-width: 600px) {
  .App > div{
    width: 100%;
    margin: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .App > div{
    border-radius: 8px;
  }
}